.footer {
  background: #F2E52E;
  padding: 0 40px;
}

/* .footer__header {
  text-align: center;
} */

.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.social-media__img {
  border-radius: 50%;
  height: 30px;
  margin-right: 20px;
}


@media (max-width: 515px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__header {
    text-align: center;
  }
}