.form__header {
  background: #F2E52E;
  margin: 0;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}
 
.form__header--padding {
  padding: 0;
}

.form {
  background: rgba(185, 185, 185, 0.493);
  border-radius: 5px;
}

.form__content {
  padding: 20px;
}

.form__input {
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.form__input--margin {
  margin: 0;
  padding: 10px 0;
}
.form__input--submit--yellow {
  background: #F2E52E;
  font-weight: bold;
  cursor: pointer;
}

.form__span {
  color: #FF4787;
  font-weight: bold;
  cursor: pointer;
  /* text-decoration-line: none; */
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form__control {
  background: #ffffff;
  color: #111111;
  display: block;
  font-size: 18px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  /* resize: none; */
  width: 100%;
}

.form__control--margin {
  margin-right: 20px;
  /* padding: 0; */
  /* width: 95%; */
}

.form__control--width {
  width: 50%;
}

.form-content__container {
  padding: 20px;
  display: -ms-flexbox; /*IE108 */
  display: flex; 
}

.form__icon {
  background: #ffffff;
  min-width: 50px;
  padding: 12px 12px;
  text-align: center;
}


.form__container {
  padding: 10px;
}

.form__slider {
  border-radius: 15px;
  /* resize: none; */
  /* -webkit-appearance: none; */
  width: 70%;
  background: #111111;
  /* background: #F2E52E; */
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.form__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #111111;
  cursor: pointer;
  border-radius: 15px;
}

.form__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #111111;
  cursor: pointer;
  border-radius: 15px;
}

.form-content__container--flex--column {
  flex-direction: column;
}

.container__header {
  background: #F2E52E;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}