.page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container--width {
  width: 90%;
}