.header {
  background-color: #F2E52E;
  color: #617973;
  display: flex;
  justify-content: space-between;
}

.header__icon {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.nav {
  width: 52%;
}

.nav__item {
  display: inline;
  font-weight: bold;
  padding: 10px;
}


.nav__item:hover {
  color: #FF4787;
  cursor: pointer;
}

.nav__item--color--visible {
  background: #FF4787;
  border-radius: 12px;
  color: #ffffff;
  margin-right: 30px;
}

.nav__item--color--visible:hover {
  background: #D13B6F;
  color: #ffffff;
}

.nav__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1em;
  padding-left: 1em;
}

@media (max-width: 670px) {
  .header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
  }

  .nav {
    width: 100%;
  }

}