.table__header {
  background: #F2E52E;
  margin: 0;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.table {
  background: rgba(185, 185, 185, 0.493);
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px;
  width: 100%;
}

.table__data {
  text-align: center;
  padding: 16px;
}

.table__row:nth-child(even) {
  background: rgba(242, 229, 46, 0.555);
}

.button-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  width: 50%;
}

.button {
  border: none;
  background: #F2E52E;
  color: #111111;
  border-radius: 9px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.button:hover {
  background: #ffffff;
  border: 1px solid #F2E52E;
}
@media (max-width: 950px) {
  .table__header--width {
    padding: 10px;
  }

  .table__data {
    text-align: center;
    padding: 0;
  }

  .button-container {
    width: 100%;
  }
}

